*{
    margin: 0;
    padding: 0;
}
body{
    font-family: '微软雅黑';
    padding-left: 50px;
    background: #fff;
}
.form-group{
    margin-right: 70px;
}
.input-sm{
    height: 30px;
}
.tr-active{
    background: #f7e38a;
}
#pic-btn{
    border: 1px solid #0064bc;
    border-radius: 5px;
    text-align: center;
    padding: 3px 10px;
    cursor: pointer;
    color: #0064bc;
}
.main{
    position: relative;
    display: none;
}
.client-box{
    margin-top: 50px;
    max-height: 252px;
    overflow: auto;
    display: none;
}
.clinet-hide{
    display: none;
}
.table th{
    text-align: center;
    color: #fff;
    background: #99c8f4;
    font-weight: normal;
}
.table tr td{
    text-align: center;
}
.client-pic{
    position: absolute;
    left: 15%;
    margin-top: 100px;
    width: 60%;
}
.do-list{
    cursor: pointer;
    color: #0261bf;
}
.client-table{
    position: absolute;
    background: #fff;
    font-size: 12px;
}
.client-table h4{
    color: #1c62ba;
    font-weight: 600;
    margin-top: 0;
}
.table1{
    right: 0;
    top: 70px;
}
.table2{
    left: 200px;
    top: 40px;
}
.table3{
    top: 200px;
    left: 50px;
}
.table4{
    top: 320px;
    left: 20px;
}
.table5{
    top: 490px;
    left: 150px;
}
.table6{
    top: 520px;
    right: 300px;
}
#inlineRadio2{
    margin-left: 5px;
}
.ui-autocomplete{
    padding: 5px 0;
    width: 200px;
    list-style: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    max-height: 400px;
    overflow: auto;
}
.ui-menu-item{
    color: #333;
    font-size: 15px;
    padding: 3px 10px;
}
.ui-menu-item:hover{
    cursor: pointer;
    color: #333;
    background: #ebebeb;
}
.ui-helper-hidden-accessible{
    display: none;
}
.input-sm{
    height: 30px;
}
.input-group-addon{
    padding: 3px 12px;
}
.ui-menu-item{
    font-size: 13px;
}