<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>猛犸大数据运营分析平台</title>
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="../css/dingdan-zongtifenxi.css"/>
    <!--[if lt IE 9]>
    <script src="../js/bootstrap/html5shiv.min.js"></script>
    <script src="../js/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="time-box">
    <div class="top-list-box">
        <ul class="top-list">
            <li class="chosen-active" onclick="dingDanChange(this);">商品效果排行</li>
            <li style="border: none;" onclick="dingDanChange(this);">商品特征分析</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h5>快速选择时间</h5>
            <ul class="time-list">
                <li class="chosen-active" onclick="dingDanChange(this);">昨天</li>
                <li onclick="dingDanChange(this);">最近7天</li>
                <li onclick="dingDanChange(this);">最近14天</li>
                <li onclick="dingDanChange(this);">最近30天</li>
                <li style="border: none;" onclick="dingDanChange(this);">最近90天</li>
            </ul>
        </div>
        <div class="col-md-7">
            <h5>自定义时间</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group date form_date" data-link-format="yyyy-mm-dd">
                        <input id="start-time" class="form-control input-sm" type="text" readonly/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <span style="float: left;margin-top: 3px;">至</span>
                <div class="col-md-4">
                    <div class="input-group date form_date" data-link-format="yyyy-mm-dd">
                        <input id="end-time" class="form-control input-sm" type="text" readonly/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <!--<div class="time-btn">确定</div>-->
            </div>
        </div>
    </div>
    <h5>商品页</h5>
    <div style="margin-bottom: 10px;">
        <form class="form-inline">
            <div class="form-group">
                <div id="dingDanSearch1" class="input-group">
                    <select id="search-content" class="form-control input-sm">
                        <option value="1">销量TOP10最好的商品</option>
                        <option value="0">销量TOP10最差的商品</option>
                    </select>
                    <div class="input-group-addon" style="background: #98c9f4;cursor: pointer;height: 28px;" onclick="seeXiaoGuo();">
                        <img src="../images/find.png" style="width: 14px;" alt=""/>
                    </div>
                </div>
                <div id="dingDanSearch2" class="input-group" onclick="seeTeZheng();">
                    <img src="../images/find.png" style="width: 14px;" alt=""/>
                </div>
            </div>
        </form>
    </div>
    <p class="tip-red">温馨提示：改变选项并点击搜索按钮后，数据展示才会更新。否则展示的是上一次点击按钮后的数据。</p>
</div>
<p class="total-number">订单总数 : <span></span>笔</p>
<div class="pic-box-top">
    <img src="../images/nodata.png" class="no-data"/>
    <div class="head-pic-box" id="xiao-guo">
        <div id="dingDan-diTu">
            <button type="button" class="close" aria-label="Close" onclick="closeMap();"><span aria-hidden="true" style="color: #fff;margin-right: 10px;">×</span></button>
            <p class="map-title"></p>
            <div id="dingDanChart"></div>
        </div>
        <img src="../images/analysis-list-2.jpg" class="img-responsive center-block"/>
        <div class="left-box left-box-one">
            <div class="left-circle map-circle" onclick="dingDanMap(this);">83.74%</div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-two">
            <div class="left-circle map-circle" onclick="dingDanMap(this);">10.9%</div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-three">
            <div class="left-circle map-circle" onclick="dingDanMap(this);">1.88%</div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-four">
            <div class="left-circle map-circle" onclick="dingDanMap(this);">1.55%</div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-five">
            <div class="left-circle map-circle" onclick="dingDanMap(this);">0.5%</div>
            <span class="goods-word"></span>
        </div>
        <div class="right-box right-box-one">
            <span class="goods-word2"></span>
            <div class="right-circle map-circle" onclick="dingDanMap(this);">83.74%</div>
        </div>
        <div class="right-box right-box-two">
            <span class="goods-word2"></span>
            <div class="right-circle map-circle" onclick="dingDanMap(this);">10.9%</div>
        </div>
        <div class="right-box right-box-three">
            <span class="goods-word2"></span>
            <div class="right-circle map-circle" onclick="dingDanMap(this);">1.88%</div>
        </div>
        <div class="right-box right-box-four">
            <span class="goods-word2"></span>
            <div class="right-circle map-circle" onclick="dingDanMap(this);">1.55%</div>
        </div>
        <div class="right-box right-box-five">
            <span class="goods-word2"></span>
            <div class="right-circle map-circle" onclick="dingDanMap(this);">0.5%</div>
        </div>
    </div>
</div>
<div class="pic-box-high" style="display: none;">
    <div class="head-pic-box" id="te-zheng">
        <img src="../images/analysis-list-1.jpg" class="img-responsive center-block"/>
        <div class="left-box left-box-one">
            <div class="left-circle"></div>
            <span class="goods-word">生成订单1-2天内支付</span>
        </div>
        <div class="left-box left-box-two">
            <div class="left-circle"></div>
            <span class="goods-word" style="text-align: center;">生成订单后取消订单的<br/>(1-2天内)</span>
        </div>
        <div class="right-box right-box-one">
            <span class="goods-word2">生成订单7天后无支付</span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-two">
            <span class="goods-word2">生成订单15天后无支付</span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-three">
            <span class="goods-word2">生成订单30天后无支付</span>
            <div class="right-circle"></div>
        </div>
    </div>
</div>
<!--地图展示取存放的时间点-->
<input class="map-time" type="hidden"/>
<input class="map-time" type="hidden"/>
<input class="map-time" type="hidden"/>
</body>
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/echarts-all.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>
<script src="../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../js/ajaxurl.js"></script>
<script src="../js/dingdan-zongtifenxi.js"></script>
<script src="../js/href.js"></script>
</html>