<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>猛犸大数据运营分析平台</title>
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../css/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css"/>
    <link type="text/css" href="../css/Spacetree.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/dingdan-zongtifenxi.css"/>
    <!--[if lt IE 9]>
    <script src="../js/bootstrap/html5shiv.min.js"></script>
    <script src="../js/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="time-box" style="padding-bottom: 40px;">
    <div class="top-list-box">
        <ul class="top-list">
            <li class="chosen-active" onclick="mingXiChange(this);">商品效果排行分析</li>
            <li onclick="mingXiChange(this);">商品购物车分析</li>
            <li style="border: none;" onclick="mingXiChange(this);">商品订单分析</li>
        </ul>
    </div>
    <form class="form-inline">
        <div class="form-group" style="margin-top: 10px;">
            <input id="search-input" type="text" class="form-control input-sm" size="31" placeholder="请输入店铺名">
            <!--<div class="input-group">-->
                <!--<input id="search-input" type="text" class="form-control input-sm" size="24" placeholder="请输入店铺名">-->
                <!--<div class="input-group-addon" style="background: #98c9f4;cursor: pointer;">-->
                    <!--<img src="../images/find.png" style="width: 14px;" alt=""/>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </form>
    <div class="row">
        <div class="col-md-5">
            <h5>快速选择时间</h5>
            <ul class="time-list">
                <li class="chosen-active" onclick="mingXiChange(this);">昨天</li>
                <li onclick="mingXiChange(this);">最近7天</li>
                <li onclick="mingXiChange(this);">最近14天</li>
                <li onclick="mingXiChange(this);">最近30天</li>
                <li style="border: none;" onclick="mingXiChange(this);">最近90天</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>自定义时间</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group date form_date" data-link-format="yyyy-mm-dd">
                        <input id="start-time" class="form-control input-sm" type="text" readonly/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <span style="float: left;margin-top: 3px;">至</span>
                <div class="col-md-4">
                    <div class="input-group date form_date" data-link-format="yyyy-mm-dd">
                        <input id="end-time" class="form-control input-sm" type="text" readonly/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <!--<div class="time-btn">确定</div>-->
            </div>
        </div>
    </div>
    <h5>商品页</h5>
    <div style="margin-bottom: 10px;">
        <form class="form-inline">
            <div class="form-group">
                <div id="dingDanSearch1" class="input-group">
                    <!--对接的时候select里面的内容会动态变化-->
                    <select id="search-content" class="form-control input-sm">
                        <option value="1">销量最好TOP10的商品</option>
                        <option value="0">销量最差TOP10的商品</option>
                    </select>
                    <div class="input-group-addon" style="background: #98c9f4;cursor: pointer;height: 28px;" onclick="otherAnaly();">
                        <img src="../images/find.png" style="width: 14px;" alt=""/>
                    </div>
                </div>
                <div id="dingDanSearch2" class="input-group" onclick="carAnaly();">
                    <img src="../images/find.png" style="width: 14px;" alt=""/>
                </div>
            </div>
        </form>
    </div>
    <p class="tip-red">温馨提示：改变选项并点击搜索按钮后，数据展示才会更新。否则展示的是上一次点击按钮后的数据。</p>
</div>
<img src="../images/nodata.png" class="no-data"/>
<div class="pic-box-top">
    <div class="head-pic-box" id="xiao-guo">
        <img src="../images/aa.jpg" class="img-responsive center-block"/>
        <div class="left-box left-box-one">
            <div class="left-circle"></div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-two">
            <div class="left-circle"></div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-three">
            <div class="left-circle"></div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-four">
            <div class="left-circle"></div>
            <span class="goods-word"></span>
        </div>
        <div class="left-box left-box-five">
            <div class="left-circle"></div>
            <span class="goods-word"></span>
        </div>
        <div class="right-box right-box-one">
            <span class="goods-word2"></span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-two">
            <span class="goods-word2"></span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-three">
            <span class="goods-word2"></span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-four">
            <span class="goods-word2"></span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-five">
            <span class="goods-word2"></span>
            <div class="right-circle"></div>
        </div>
    </div>
    <div class="head-pic-box" id="gou-wu">
        <img src="../images/analysis-cart-2.jpg" class="img-responsive center-block"/>
        <div class="left-box left-box-one">
            <div class="left-circle"></div>
            <span class="goods-word">加入购物车成功交易</span>
        </div>
        <div class="left-box left-box-two">
            <div class="left-circle"></div>
            <span class="goods-word">加入购物车后删除</span>
        </div>
        <div class="left-box left-box-three">
            <div class="left-circle"></div>
            <span class="goods-word">加入购物车免费运费</span>
        </div>
        <div class="right-box right-box-one">
            <span class="goods-word2">加入购物车10元运费</span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-two">
            <span class="goods-word2">加入购物车10元以上运费</span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-three">
            <span class="goods-word2">加入购物车7天后无订单</span>
            <div class="right-circle"></div>
        </div>
    </div>
    <div class="head-pic-box" id="ding-dan">
        <img src="../images/analysis-list-1.jpg" class="img-responsive center-block"/>
        <div class="left-box left-box-one">
            <div class="left-circle"></div>
            <span class="goods-word">生成订单1-2天内支付</span>
        </div>
        <div class="left-box left-box-two">
            <div class="left-circle"></div>
            <span class="goods-word">生成订单1-2天内取消</span>
        </div>
        <div class="right-box right-box-one">
            <span class="goods-word2">生成订单7天后无支付</span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-two">
            <span class="goods-word2">生成订单15天后无支付</span>
            <div class="right-circle"></div>
        </div>
        <div class="right-box right-box-three">
            <span class="goods-word2">生成订单30天后无支付</span>
            <div class="right-circle"></div>
        </div>
    </div>
</div>
</body>
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/jquery-ui-widget-combobox.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>
<script src="../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../js/ajaxurl.js"></script>
<script src="../js/xiaoshou-mingxifenxi.js"></script>
<script src="../js/href.js"></script>
</html>