<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>数据服务平台</title>
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css"/>
    <!--[if lt IE 9]>
    <script src="../js/bootstrap/html5shiv.min.js"></script>
    <script src="../js/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="clearfix">
    <!-- 顶部 -->
    <div class="header clearfix">
        <div class="pull-left web-box">
            <img src="../images/logo-s.png"/>
            <span>电商服务分析平台</span>
        </div>
        <div class="pull-left content-box">
            <img src="../images/online-eye.png"/>
            <span id="contentTitle"></span>
        </div>
        <div class="pull-right notice-box" data-num="0" style="margin-right: 25px;">
            <img class="notice-pic" src="../images/no-notice.png"/>
            <div class="notice-all">
                <img src="../images/smalltriangle.png"/>
                <ul class="notice-list">
                    <li>公告栏</li>
                </ul>
            </div>
        </div>
        <div class="pull-right line-box">
            <img src="../images/line.png"/>
        </div>
        <div class="pull-right user-box">
            <span id="userName"></span>
            <span id="userId"></span>
            <img src="../images/user.png"/>
            <div class="subMenu-box">
                <img src="../images/smalltriangle.png"/>
                <ul id="subMenu">
                    <li>
                        <img src="../images/logout.png"/>
                        <span onclick="logOut();">退出</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 右边iframe内容 -->
    <div class="right-box">
        <iframe width="100%" height="750" id="iframepage" frameborder="0" name="iframepage" src="fangyan-zonglan.html" scrolling="no"></iframe>
    </div>
    <!-- 左边导航 -->
    <div class="left-nav">
        <ul class="left-list">;
            <li>
                <div class="top-list">
                    <img class="list-img" src="../images/left-1-normal.png"/>
                    <span class="list-name">放眼行业</span>
                </div>
                <div class="child-list">
                    <ul>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="fangyan-zonglan.html">线上电商总览</span>
                        </li>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="fangyan-shichanghangye.html">市场行业细分</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="top-list">
                    <img class="list-img" src="../images/left-2-normal.png"/>
                    <span class="list-name">统观渠道</span>
                </div>
                <div class="child-list">
                    <ul>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="qudao-qudaozonglan.html">渠道总览</span>
                        </li>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="qudao-qudaoduibi.html">渠道对比</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="top-list">
                    <img class="list-img" src="../images/left-3-normal.png"/>
                    <span class="list-name">店铺跟踪</span>
                </div>
                <div class="child-list">
                    <ul>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="dianpu-dianpukancha.html">店铺勘察</span>
                        </li>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="dianpu-dianpuduibi.html">店铺对比</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="top-list">
                    <img class="list-img" src="../images/left-4-normal.png"/>
                    <span class="list-name">品牌聚焦</span>
                </div>
                <div class="child-list">
                    <ul>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="pinpai-pinpaisaomiao.html">品牌扫描</span>
                        </li>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="pinpai-pinpaiduibi.html">品牌对比</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="top-list">
                    <img class="list-img" src="../images/left-5-normal.png"/>
                    <span class="list-name">商品详情</span>
                </div>
                <div class="child-list">
                    <ul>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="shangpin-shangpinsaomiao.html">商品扫描</span>
                        </li>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="shangpin-shangpinpaihang.html">商品排行</span>
                        </li>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="shangpin-shangpinduibi.html">商品对比</span>
                        </li>
                        <li>
                            <img class="list-img" src="../images/left-second-nor.png"/>
                            <span class="list-name" data-href="shangpin-shangpinxiaoliang.html">商品画像</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- 底部 -->
    <div class="footer">
        <p>备案号：蜀ICP备13021642号-4 Copyright@2015 成都数之联科技有限公司 版权所有</p>
    </div>
</div>
</body>
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/ajax.js"></script>
<script src="../js/index.js"></script>
</html>