<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>数据服务平台</title>
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery.cxcalendar.css"/>
    <link rel="stylesheet" href="../css/calendar.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/pinpai-pinpaiduibi-child.css"/>
    <!--[if lt IE 9]>
    <script src="../js/bootstrap/html5shiv.min.js"></script>
    <script src="../js/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid content-box">
    <div class="row">
        <div class="col-md-12">
            <div class="header-box clearfix">
                <p class="pull-left">品牌对比详情</p>
                <div class="pull-left title-tips">
                    <img src="../images/tip-g.png"/>
                    <span onclick="seeTips(this);">详情</span>
                    <div class="tip-box">
                        <img src="../images/triangle-g.png"/>
                        <div class="tip-box-title clearfix">
                            <h4 class="pull-left">指标口径:</h4>
                            <div class="pull-right page-box"><span>1</span>/<span>3</span></div>
                        </div>
                        <div class="tip-content">
                            <ul>
                                <li>1. 页面基础统计数据统计周期为T-1天，页面算法分析数据统计周期为T-7天。T为系统当前时间。</li>
                                <li>2. 品牌的评价：可以按照品牌评价指标以及上层的分析时间，进行选择的品牌(5个以内)进行趋势对比分析。</li>
                                <li>3. 好评率：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌好评率。</li>
                                <li>4. 中评率：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌中评率。</li>
                                <li>5. 差评率：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌差评率。</li>
                            </ul>
                        </div>
                        <div class="tip-content" style="display: none;">
                            <ul>
                                <li>1. 品质评论数：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌品质评论数。</li>
                                <li>2. 品质关注度：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌品质关注度。</li>
                                <li>3. 外观评论数：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌外观评论数。</li>
                                <li>4. 外观关注度：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌外观关注度。</li>
                            </ul>
                        </div>
                        <div class="tip-content" style="display: none;">
                            <ul>
                                <li>1. 性价比评论数：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌性价比评论数。</li>
                                <li>2. 性价比关注度：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌性价比关注度。</li>
                                <li>3. 口感评论数：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌口感评论数。</li>
                                <li>4. 口感关注度：通过一定的TF-IDF、SVM 文本挖掘算法和聚类分析计算出当前用户选择的数据类别的商品品牌口感关注度。</li>
                            </ul>
                        </div>
                        <div class="tip-page-box clearfix">
                            <div class="pull-left" onclick="tipNextPage(this);">
                                <img src="../images/yellow-left-none.png"/>
                            </div>
                            <div class="pull-right" onclick="tipPrevPage(this);">
                                <img src="../images/yellow-right-none.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix change-row">
        <div class="change-box pull-left clearfix">
            <ul class="change-list-box clearfix">
                <li>
                    <div class="date-box">
                        <input id="myCalender1" type="text" data-position="bottom" class="input" data-wday="0" size="12" readonly/> - <input id="myCalender2" type="text" data-position="bottom" class="input" data-wday="0" size="12" readonly/>
                    </div>
                </li>
            </ul>
        </div>
        <div id="btn1" class="change-btn pull-left">确定</div>
    </div>
    <div class="row">
        <div class="col-md-12 chart-box">
            <div id="chart1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 chart-box">
            <div id="chart2"></div>
        </div>
    </div>
</div>
<input id="brandLists" type="hidden"/>
</body>
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/echarts-all.js"></script>
<script src="../js/jquery.cxcalendar.min.js"></script>
<script src="../js/jquery.cxcalendar.languages.js"></script>
<script src="../js/calendar.js"></script>
<script src="../js/ajax.js"></script>
<script src="../js/change-list.js"></script>
<script src="../js/pinpai-pinpaiduibi-child.js"></script>
</html>