<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %r, %ex, %F, %L, %C{1}, %M : %m%n</pattern>
        </layout>
    </appender>


    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>