<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<Encoding>UTF-8</Encoding>-->
        <!--<File>./log/DataScheduleService.log</File>-->
        <File>/home/etl_szlsp/szl/BigdataPlatform/pro/ETL/data/ods/daily/log/DataScheduleService.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>report-%i-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>12</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>