/*尼玛加了下面的safari浏览器就输入框没法输入了*/
/**{*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*-o-user-select: none;*/
    /*user-select: none;*/
/*}*/
body{
    padding: 0 20px 0 260px;
    background: #ecf4f4;
}
.col-md-12,.col-md-6{
    padding: 0;
}
.content-box{
    background: #fff;
    border: 1px solid #e5eded;
    margin: 20px 0;
    overflow: hidden;
}
.header-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    /*overflow: hidden;*/
    border-bottom: 1px solid #e6ebee;
}
.header-box p{
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding-left: 42px;
}
.change-row{
    position: relative;
    height: 47px;
    padding-left: 20px;
    padding-top: 10px;
    background: #f9f9f9;
    margin: 0 10px;
    margin-top: 10px;
    *margin-top: 10px;
}
.change-list-box{
    list-style: none;
    margin: 0;
    padding: 0;
}
.change-list-box li{
    float: left;
    margin-right: 15px;
}
.form-control{
    border-color: #d4dbe4;
    height: 27px;
    border-radius: 0;
    padding: 3px 12px;
    background: #edf2f5;
}
.input-name{
    font-size: 12px;
}
.price-number{
    display: inline-block;
    margin-left: -5px;
    color: #b3bcca;
    width: 55px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    cursor: pointer;
    background: #edf2f5;
}
.pn-active{
    color: #fff;
    background: #f2ae25;
}
.date-box{
    background: #edf2f5;
    padding: 0 5px;
}
.channel-btn{
    color: #f2ae25;
    cursor: pointer;
    font-size: 12px;
    display: block;
    width: 110px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    background: #edf2f5;
    padding: 0 10px;
}
.change-btn{
    height: 27px;
    line-height: 27px;
    padding: 0 12px;
    color: #fff;
    cursor: pointer;
    background: #1885e9;
    margin-right: 15px;
    font-size: 12px;
}
.chart-box{
    margin: 0 0 20px 0;
}
.channel-box{
    width: 240px;
    padding: 5px 0;
    display: none;
    position: absolute;
    background: #fff;
    top: 45px;
    left: 130px;
    border: 1px solid #d0d5d8;
    z-index: 999;
    color: #7b797c;
    font-size: 12px;
}
.channel-box>img{
    position: absolute;
    top: -11px;
    left: 60px;
}
.channel-name-box{
    text-align: center;
    padding: 0 8px;
    border-radius: 15px;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
}
.channel-active{
    background: #f2ae25;
    color: #fff;
}
.channel-table{
    width: 230px;
    margin: 0 auto;
}
.channel-table>tbody>tr>td{
    padding: 10px 4px;
}
.channel-btn-box{
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border-top: 1px solid #f2ae25;
}
.all-none-box{
    margin-top: 2px;
    float: right;
    cursor: pointer;
    margin-right: 16px;
}
.channel-btn-box>div>img{
    margin-top: -2px;
}
.channel-tips{
    width: 100%;
    /*display: none;*/
    text-align: center;
    color: red;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.channel-all{
    color: #f3b026;
}
.table{
    border-left: 1px solid #e6ebef;
    border-right: 1px solid #e6ebef;
    border-bottom: 1px solid #9bce4b;
    padding: 0;
    margin: 0;
}
.table>thead>tr>th,.table>tbody>tr>td{
    border: none;
    font-weight: normal;
    text-align: center;
}
.table>thead>tr>th{
    background: #9bce4b;
    color: #fff;
    font-size: 15px;
    padding: 12px 0;
}
.table>tbody>tr>td{
    font-size: 12px;
    padding: 8px 0;
    color: #7f9098;
}
.table>tbody>tr>.table-active{
    color: #f2ae25;
}
.table-name{
    display: inline-block;
    color: #666;
    font-size: 12px;
    /*max-width: 220px;*/
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.good-box{
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.table-pic-box{
    width: 65px;
    margin: 0 auto;
    text-align: right;
}
.pic-prev{
    margin-right: 5px;
}
.table-price{
    display: inline-block;
    font-weight: 600;
    color: #EF6666;
    position: relative;
    top: -4px;
    left: 20px;
    width: 80px;
}
.title-tips,.down-box{
    position: relative;
    background: #fff;
    width: 30px;
    height: 30px;
    left: 20px;
    top: 10px;
    border: 1px solid #e6ebee;
}
.down-box{
    margin-left: 20px;
}
.title-tips>img{
    width: 20px;
    height: 23px;
    margin-left: 4px;
    margin-top: 2px;
    vertical-align: middle;
}
.down-box>img{
    margin-left: 6px;
    margin-top: 4px;
    width: 15px;
    vertical-align: middle;
}
.title-tips>span,.down-box>span{
    cursor: pointer;
    color: #a2abb2;
    margin-left: -5px;
    margin-top: 2px;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    display: none;
    vertical-align: middle;
}
.down-box>span{
    margin-left: 0;
}
.tip-box{
    width: 300px;
    position: absolute;
    border: 1px solid #ddd;
    top: 50px;
    left: -35px;
    display: none;
    z-index: 99999;
    background: #fff;
    border-radius: 5px;
}
.tip-box>img{
    position: absolute;
    width: 18px;
    top: -9px;
    left: 55px;
}
.tip-box-title{
    background: #f7f7f7;
    padding: 7px 10px 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.tip-box-title>h4{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.tip-box-title>.page-box{
    font-size: 12px;
    color: #9d9d9d;
}
.tip-content{
    padding: 5px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 0;
    top: 30px;
    font-size: 13px;
}
.tip-content>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tip-content>ul>li{
    display: block;
    padding: 3px 10px;
    word-break: break-all;
}
.tip-page-box{
    padding: 2px 10px;
}
.tip-page-box img{
    cursor: pointer;
}
.triangle-box{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    visibility: hidden;
    zoom:1;
    *display:inline;
}
.triangle-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #fff;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #EF6666;
    display: block;
    cursor: pointer;
}
.downLoad-box{
    display: none;
}
.channel-row{
    padding: 5px 0 10px 15px;
    margin: 0 10px;
    background: #f9f9f9;
}
.channel-row ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.channel-row ul li{
    display: inline-block;
    padding: 2px 5px 2px 12px;
    font-size: 12px;
    color: #fff;
    margin-right: 6px;
    background: #f2ae25;
}
.channel-row ul li:first-child{
    color: #b3bcca;
    background: #fff;
}
.del-cross{
    cursor: pointer;
    margin-top: -1px;
    margin-left: 5px;
}
.link-box{
    display: inline-block;
    width: 25px;
    height: 9px;
    position: relative;
    top: -4px;
    left: 35px;
}
.link-box:link{
    background: url("../images/link_normal.png") no-repeat;
}
.link-box:visited{
    background: url("../images/link_active.png") no-repeat;
}
.link-box:hover{
    background: url("../images/link_active.png") no-repeat;
}
.link-box:active{
    background: url("../images/link_active.png") no-repeat;
}