<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>登录-数之云</title>
		<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="css/szy_common.css" rel="stylesheet">
	    <!--[if lt IE 9]>
	        <script src="js/bootstrap/html5shiv.min.js"></script>
	        <script src="js/bootstrap/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body class="user-main-body">
		<!--顶部 S-->
		<header class="navbar user-nav user-nav-hei" id="top" role="banner">
		 	<div class="container">
			    <div class="navbar-header">
			      <a href="index" class="navbar-brand"><img height="30" src="images/szy_logo_hei.png"/></a>
			    </div>
			    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			      	<ul class="nav navbar-nav navbar-right">
			        	<li><a href="javascript:;" title="注册" onclick="userRegist();return false;">注册</a></li>
			        	<li class="line">|</li>
			        	<li><a href="#" title="管理控制台">管理控制台</a></li>
			      	</ul>
			    </nav>
		  	</div>
		</header>
	    <!--顶部 E-->
		<!--主体 S-->
		<div class="container user-main" id="J_userMain">
			<div class="pull-right user-form">
				<div class="user-tr"><input id="J_userEmail" type="text" class="form-control user-email" placeholder="请输入登录邮箱"/></div>
				<div class="user-tr"><input id="J_userPwd" type="password" class="form-control user-pwd" placeholder="请输入登录密码"/></div>
				<div id="J_userError" class="user-error yahei"></div>
				<button id="J_userSubmit" type="button" class="btn btn-default btn-lg user-submit yahei" data-loading-text="登录中..." onclick="userSubmit();">登   录</button>
				<p class="user-regist">没有帐号？<a class="tag" href="javascript:;" onclick="userRegist();return false;">点击注册</a>|<a class="tag" href="http://localhost:8080/szy/view/html/sendMail.html">忘记密码</a></p>
			</div>
		</div>
	    <!--主体 E-->
	    <!--FOOT S-->
		<footer class="user-footer user-footer-three">
		    <div class="container">
	    		<p class="text">Copyright ©2012 成都数之联科技有限公司 版权所有 | 蜀ICP备13021642号</p>
	    	</div>
		</footer>
	    <!--FOOT E-->

    	<script src="js/jquery-1.9.1.min.js"></script>
	    <script src="js/bootstrap/bootstrap.min.js"></script>
	    <script src="js/szy_common.min.js"></script>
	    <script src="js/user_login.min.js"></script>
	</body>
</html>