<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>开放存储服务OSS-数之云</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="css/szy_common.css" rel="stylesheet">
		<!--[if lt IE 9]>
	        <script src="js/bootstrap/html5shiv.min.js"></script>
	        <script src="js/bootstrap/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body style="position: relative;" data-spy="scroll" data-target="#J_szyInNavUl">
	    <!--顶部 S-->
		<header class="navbar user-nav" role="banner">
		 	<div class="container">
			    <div class="navbar-header">
			      <a href="index" class="navbar-brand"><img height="30" src="images/szy_logo.png"/></a>
			    </div>
			    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			      	<ul class="nav navbar-nav navbar-right">
			      		<li id="J_navUserLogin"></li>
			      		<li id="J_navUserline" class="line none">|</li>
			        	<li id="J_navUserRegist">
			        		<a id="J_navUserName" class="dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="true">...</a>
			        		<ul class="dropdown-menu" role="menu">
							    <li><a class="first" href="rdsorder" title="订单管理">订单管理</a></li>
							    <li><a href="info" title="个人资料">个人资料</a></li>
							    <li class="divider"></li>
							    <li><a href="javascript:;" onclick="exitLogin();return false;">退出</a></li>
							</ul>
			        	</li>
			        	<li class="line">|</li>
			        	<li><a href="#" title="管理控制台">管理控制台</a></li>
			      	</ul>
			    </nav>
		  	</div>
		</header>
	    <!--顶部 E-->
		<!--主体 S-->
		<div class="container">
			<div class="szy-wrap row clearfix">
				<div id="J_szyMain" class="szy-main pull-right" style="margin-bottom: 0;padding-bottom: 0;">
					<div class="szy-main-two">
						<div class="szy-in-main">
							<h2 class="title">开放存储服务 OSS</h2>
							<div class="des">开放存储服务 （Open Storage Service，简称OSS），是数之云对外提供的海量、安全、低成本和高可靠的云存储服务</div>
							<div id="J_szyInNavUl" class="in-nav row">
								<div class="col-sm-11">
									<ul class="nav nav-tabs nav-justified">
								      	<li class="active"><a href="#J_szyInCompare">新旧方法对比</a></li>
								      	<li><a href="#J_szyInFunction">功能</a></li>
								      	<li><a href="#J_szyInSuper">优势</a></li>
								      	<li><a href="#J_szyInHelp">产品帮助</a></li>
								      	<li><a href="#J_szyInCase">客户案例</a></li>
								    </ul>
								</div>
								<div class="in-used-box col-sm-1"><button onclick="goUseOss();" type="button" class="in-used btn btn-primary">立即使用</button></div>
							</div>
							<!--新旧方法对比S-->
							<div id="J_szyInCompare" class="szy-in-cpr szy-in-box">
								<div class="kind"><h3>新旧方法对比</h3></div>
								<p class="text-one">如果您在业务中需要使用存储服务，那么有新旧两种方法可以选择：</p>
								<div class="row">
									<div class="col-sm-5">
										<h6>旧方法</h6>
										<ul class="step">
											<li>第1步：买或者租一台服务器</li>
											<li>第2步：买一个外网IP（可省略）  </li>
											<li>第3步：搭建存储管理环境</li>
											<li>第4步：做负载均衡 </li>
											<li>第5步：搭建安全、备份环境 </li>
											<li>第6步：分配/管理数据库账号以及权限</li>
											<li>第7步：使用JDBC/客户端等连接使用</li>
										</ul>
										<dl class="tatol">
											<dd>总时间投入：约 <span class="red">xxx 天 </span></dd>
											<dd>总 体 金 额：约 <span class="red">xxx 元</span></dd>
										</dl>
									</div>
									<div class="border col-sm-7">
										<h6>新方法</h6>
										<ul class="step">
											<li>第1步：注册数之云账号</li>
											<li>第2步：1秒开通OSS服务</li>
											<li>第3步：免费开通5G存储空间</li>
											<li>第4步：直接使用OSS开放存储服务</li>
										</ul>
										<dl class="new tatol" style="margin-top: 138px">
											<dd>总时间投入：约 <span class="green">3 分钟</span></dd>
											<dd>总 体 金 额：约 <span class="green">动态调整，按需收费</span></dd>
										</dl>
									</div>
								</div>
							</div>
							<!--新旧方法对比E-->
							<!--功能S-->
							<div id="J_szyInFunction" class="szy-in-fun szy-in-box">
								<div class="kind"><h3>功能</h3></div>
								<div class="row">
									<div class="col-sm-3">
										<dl>
											<dt>大规模</dt>
											<dd>数之云开放存储服务支
												持同时间内高并发、大
												流量的读写访问，给您
												最有效的支持</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>按需付费</dt>
											<dd>用多少，花多少！传统的存储
												方式，基本是按峰值预估带宽
												和空间，但日常用不到那么大
												的量。我们按照需求进行扩展
												给你最合适的空间</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>安全性</dt>
											<dd>针对用户上传的数据，我们
											都会创建至少三副本并存储
											到多个数据中心，保证数据
											的高可用性和可靠性</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>弹性空间</dt>
											<dd>我们的存储系统支持弹性扩容
											让您无需担心存储空间不足
											并且支持视频、图片、音乐、
											文档在内的文件及结构化数据</dd>
										</dl>
									</div>
								</div>
								<div class="more"><a href="#" target="_blank">查看更多文档＞＞</a></div>
							</div>
							<!--功能E-->
							<!--优势S-->
							<div id="J_szyInSuper" class="szy-in-box">
								<div class="kind"><h3>优势</h3></div>
								<div class="row">
									<div class="col-sm-3">
										<dl>
											<dt>节约</dt>
											<dd>低价格高效的存储系统，节
											约了大量的服务器资源和运
											维成本。并且存储空间一经
											购买永不续费，给你超值的
											服务</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>安全</dt>
											<dd>全站镜像和静态文件全备份功
											能可助力打造全年持续可用的
											稳定业务。数据自动多备份，
											容灾备份，快速恢复等多种方
											式结合，保证数据持久性，关
											键数据永不丢失</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>海量</dt>
											<dd>近乎无限的存储资源供调用，您
											无需事先规划存储容量，线性的
											存储资源扩展，您无需担心存储
											资源扩容减容问题</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>轻松文件分享</dt>
											<dd>支持文件分享功能，可将文件/
											文件夹分享给朋友，并对朋友
											分享的文件进行管理，优化存
											储管理，让你放心、省心</dd>
										</dl>
									</div>
								</div>
							</div>
							<!--优势E-->
							<!--产品帮助S-->
							<div id="J_szyInHelp" class="szy-in-box">
								<div class="kind"><h3>产品帮助</h3></div>
								<div class="row">
									<div class="col-sm-3">
										<dl>
											<dt>新手指南</dt>
											<dd>
												<ul>
													<li><a href="#" target="_blank">新手快速入门指南</a></li>
												</ul>
											</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>操作指南 </dt>
											<dd>
												<ul>
													<li><a href="#" target="_blank">OSS管理控制台操作指南</a></li>
													<li><a href="#" target="_blank">我的分享功能指南</a></li>
													<li><a href="#" target="_blank">客户端操作指南</a></li>
													<li><a href="#" target="_blank">存储扩容操作指南</a></li>
												</ul>
											</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>资料下载</dt>
											<dd>
												<ul>
													<li><a href="#" target="_blank">用户使用手册</a></li>
													<li><a href="#" target="_blank">OSS注意事项</a></li>
												</ul>
											</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										<dl>
											<dt>常见问题</dt>
											<dd>
												<ul>
													<li><a href="#" target="_blank">问题反馈</a></li>
													<li><a href="#" target="_blank">常见问题</a></li>
													<li><a href="#" target="_blank">您想对我说</a></li>
												</ul>
											</dd>
										</dl>
									</div>
								</div>
							</div>
							<!--产品帮助E-->
							<!--客户案例S-->
							<div id="J_szyInCase" class="szy-in-case szy-in-box">
								<div class="kind"><h3>客户案例</h3></div>
								<div class="row">
									<div class="col-sm-3">
										<dl>
											<dt><img src="images/szy_hire.jpg"/></dt>
											<dd>
												数之云OSS为数联寻英提供能
												大容量、高可靠、低成本的数
												据存储服务，并支持大规模并
												发访问，使数联寻英获得良好
												的用户体验
											</dd>
										</dl>
									</div>
									<div class="col-sm-3">
										
									</div>
									<div class="col-sm-3">
										
									</div>
									<div class="col-sm-3">
										
									</div>
								</div>
							</div>
							<!--客户案例E-->
						</div>	
					</div>
				</div>
				<div id="J_szyMenuBox" class="szy-menu pull-left" style="margin-bottom: 0;padding-bottom: 0;">
					<div id="J_szyMenu" class="szy-pro-border">
						
					</div>
				</div>
			</div>
		</div>
	    <!--主体 E-->
	    <!--FOOT S-->
		<footer class="user-footer">
		    <div class="container">
	    		<p class="text">Copyright ©2012 成都数之联科技有限公司 版权所有 | 蜀ICP备13021642号</p>
	    	</div>
		</footer>
	    <!--FOOT E-->

    	<script src="js/jquery-1.9.1.min.js"></script>
	    <script src="js/bootstrap/bootstrap.min.js"></script>
	    <script>var SZYMENUID={typeid:1,serviceid:2}</script>
	    <script src="js/szy_common.min.js"></script>
	    <script src="js/szy_oss.min.js"></script>
	</body>
</html>