<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>数之云服务协议</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="css/szy_common.css" rel="stylesheet">
		<!--[if lt IE 9]>
	        <script src="js/bootstrap/html5shiv.min.js"></script>
	        <script src="js/bootstrap/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
	    <!--顶部 S-->
		<header class="navbar user-nav" id="top" role="banner">
		 	<div class="container">
			    <div class="navbar-header">
			      <a href="index" class="navbar-brand"><img height="30" src="images/szy_logo.png"/></a>
			    </div>
			    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			      	<ul class="nav navbar-nav navbar-right">
			      		<li id="J_navUserLogin"></li>
			      		<li id="J_navUserline" class="line none">|</li>
			        	<li id="J_navUserRegist">
			        		<a id="J_navUserName" class="dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="true">...</a>
			        		<ul class="dropdown-menu" role="menu">
							    <li><a class="first" href="rdsorder" title="订单管理">订单管理</a></li>
							    <li><a href="info" title="个人资料">个人资料</a></li>
							    <li class="divider"></li>
							    <li><a href="javascript:;" onclick="exitLogin();return false;">退出</a></li>
							</ul>
			        	</li>
			        	<li class="line">|</li>
			        	<li><a href="#" title="管理控制台">管理控制台</a></li>
			      	</ul>
			    </nav>
		  	</div>
		</header>
	    <!--顶部 E-->
		<!--主体 S-->
		<div class="szy-xy-wrap container">
			<div class="szy-xy-head clearfix">
				<h2 class="title pull-left">数之云服务条款</h2><a class="back pull-left" href="regist" title="返回注册页面">返回注册页面</a>
			</div>
			<div class="szy-xy-main">
				<h3 class="tt">&bull; 法律声明</h3>
				<p class="text">数之云提醒您：在使用suzcloud.com各项服务前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用 suzcloud.com服务，但如果您使用suzcloud.com服务的，您的使用行为将被视为对本声明全部内容的认可。“suzcloud.com”指由数之云 计算有限公司（简称“数之云”）运营的网站，域名为suzcloud.com。</p>
				<p class="text">鉴于数之云提供的部分服务属于电子公告牌（BBS）服务，suzcloud.com上关于suzcloud.com会员或其发布的相关信息（包括但不限于用户名称、公司名称、 联系人及联络信息，相关图片、视讯等）的信息均是由会员自行提供，会员依法应对其提供的任何信息承担全部责任。</p>
				<p class="text">任何单位或个人认为suzcloud.com网页内容（包括但不限于suzcloud.com会员发布的商品信息）可能涉嫌侵犯其合法权益，应该及时向数之云提出书面权利通知，并提供身份证明、权属证明、具体链接（URL）及详细侵权情况证明。数之云在收到上述法律文件 后，将会依法尽快移除相关涉嫌侵权的内容。</p>
				<p class="text">suzcloud.com转载作品（包括论坛内容）出于传递更多信息之目的，并不意味数之云（包括数之云关联企业）赞同其观点或证实其内容的真实性。</p>
				<p class="text">任何单位或个人不得以任何数之云未提供的服务攻击数之云服务器，数之云所提供的服务都会在网页页面展示或者在文档中说明，超出此服务范围所造成的任何法律后果将完全由攻击方承担。</p>

				<h3 class="tt">&bull; 知识产权声明</h3>
				<p class="text">数之云拥有suzcloud.com网站内所有信息内容（除suzcloud.com会员发布的商品信息外，包括但不限于文字、图片、软件、音频、视频）的版权。</p>
				<p class="text">任何被授权的浏览、复制、打印和传播属于suzcloud.com网站内信息内容都不得用于商业目的且所有信息内容及其任何部分的使用都必须包括此版权声明；</p>
				<p class="text">suzcloud.com所有的产品、技术与所有程序均属于数之云的知识产权。“数之云”、“suzcloud”、数之云其他产品服务名称及相关图形、标识等为数之云/数之联集团的注册商标。未经数之云/数之联集团许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，数之云/数之联集团将依法追究法律责任。</p>

				<h3 class="tt">&bull; 隐私权政策</h3>
				<p class="text">数之云尊重并保护所有使用suzcloud.com服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，数之云会按照本隐私权政策的规定使用和披露您的个人信息。但数之云将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，数之云不会将这些信息对外披露或向第三方提供。数之云会不时更新本隐私权政策。您在同意数之云服务协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于数之云服务协议不可分割的一部分。</p>
				<p class="text">1.适用范围</p>
				<p class="text">a) 在您注册数之云账户时，您根据数之云要求提供的个人或组织注册信息；</p>
				<p class="text">b) 数之云通过合法途径从商业伙伴处取得的用户个人数据。</p>
				<p class="text">您了解并同意，以下信息不适用本隐私权政策：</p>
				<p class="text">a) 您在使用suzcloud.com提供的BBS服务时所发布的信息；</p>
				<p class="text">b) 您在使用suzcloud.com提供的服务时，对外公布的信息；</p>
				<p class="text">c) 信用评价、违反法律规定或违反数之云规则行为及数之云已对您采取的措施。</p>
				<p class="text">2. 信息使用</p>
				<p class="text">a) 数之云不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和数之云（含数之云关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。</p>
				<p class="text">b) 数之云亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何suzcloud.com用户如从事上述活动，一经发现，数之云有权立即终止与该用户的服务协议。</p>
				<p class="text">c) 为服务用户的目的，数之云可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与数之云合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。</p>
				<p class="text">3. 信息披露</p>
				<p class="text">在如下情况下，数之云将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：</p>
				<p class="text">a) 经您事先同意，向第三方披露；</p>
				<p class="text">b) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</p>
				<p class="text">c) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
				<p class="text">d) 如您出现违反中国有关法律、法规或者数之云服务协议或相关规则的情况，需要向第三方披露；</p>
				<p class="text">e) 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；</p>
				<p class="text">f) 在suzcloud.com上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，数之云有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。</p>
				<p class="text">g) 其它数之云根据法律、法规或者网站政策认为合适的披露。</p>
				<p class="text">4. 信息存储和交换</p>
				<p class="text">数之云收集的有关您的信息和资料将保存在数之云的服务器上，这些信息和资料可能传送至您所在国家、地区或数之云收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>
				<p class="text">5. Cookie的使用</p>
				<p class="text">a) 在您未拒绝接受cookies的情况下，数之云会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的suzcloud.com服务或功能。数之云使用cookies可为您提供更加周到的个性化服务，包括推广服务。</p>
				<p class="text">b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的suzcloud.com服务或功能。</p>
				<p class="text">c) 通过数之云所设cookies所取得的有关信息，将适用本政策；</p>
				<p class="text">6. 信息安全</p>
				<p class="text">a) 数之云有安全保护功能，请妥善保管您的账户及密码信息。数之云将通过对用户密码进行加密等安全措施确保您的信息不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在绝对完善的安全措施。</p>
				<p class="text">b) 在使用suzcloud.com服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自 己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是数之云账户及密码发生泄露，请您立即联络数之云客服，以便数之云采取相应措施。</p>
				<p class="text">7. 未成年人的特别注意事项</p>
				如果您不是具备完全民事权利能力和完全民事行为能力的自然人，您无权使用suzcloud.com服务，因此数之云希望您不要向我们提供任何个人信息。</p>

			</div>
		</div>
	    <!--主体 E-->
	    <!--FOOT S-->
		<footer class="user-footer">
		    <div class="container">
	    		<p class="text">Copyright ©2012 成都数之联科技有限公司 版权所有 | 蜀ICP备13021642号</p>
	    	</div>
		</footer>
	    <!--FOOT E-->

    	<script src="js/jquery-1.9.1.min.js"></script>
	    <script src="js/bootstrap/bootstrap.min.js"></script>
	    <script src="js/szy_common.min.js"></script>
	</body>
</html>